.tabs {
  display: flex;
  padding: 10px;
  background-color: rgba(white, 0.25);
  border-radius: 12px;
  gap: 14px;
  backdrop-filter: blur(3px);
  margin: 12px;
  margin-top: 50px;
}

.tab {
  //&:not(:last-child){
  //  margin-right: 14px;
  //}
z-index: 1;
  position: relative;
  text-decoration: none;
}

.tab-tile {
  display: flex;
  padding: 18px;
  //background: rgba(black, 0.1);
  //background: linear-gradient(45deg, #f8b5a5, #e2d2fd);
  //border-radius: 10px;
  //
  cursor: pointer;
  i {
    color: #222;
  }
  transition: all 0.4s ease-out;
}

.tab.selected .tab-tile {
  transform: translateY(-50%);

  border-radius: 50%;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0, 0, 0, 2);
}

.tab-tile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
 // background: rgba(violet, 0.5);
  border-radius: 10px;
  transition: all 0.2s;
  opacity: 0.9;
}

.bookmarks-tab .tab-tile::before {
  background: linear-gradient(45deg, #f8b5a5, #e2d2fd);
}

.todos-tab .tab-tile::before {
  background: linear-gradient(45deg, #a2ffff, #ffbdde);
}

.notes-tab .tab-tile::before {
  background: linear-gradient(45deg, #d2cdff, #5fffbc);
}

.tab-tile:hover::before {
  transform: scale(1.1);
  opacity: 1;
}

.tab.selected .tab-tile::before {
  transform: scale(1.1);
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0 4px 12px rgba(black, 0.4);
}
