<div class="params">
  <div class="param-items">
    <div class="param-item">
      <div class="param-item__name">distanse: </div>
      <div class="param-item__value">{{params.distanse}} </div>
    </div>
    <div class="param-item">
      <div class="param-item__name">energy: </div>
      <div class="param-item__value">{{params.energy}} </div>
    </div>
    <div class="param-item">
      <div class="param-item__name">strength: </div>
      <div class="param-item__value">{{params.strength}} </div>
    </div>
  </div>
</div>
