<app-ship-params [params]="spaceService.currentShip.getShipParams()"></app-ship-params>

<div class="module__container">
  <div class="module__table"  cdkDropList [cdkDropListData]="modules" (cdkDropListDropped)="drop($event)">
    <div class="module__rooms" *ngFor="let mRow of modules; let x = index">
      <div  class="module__room" *ngFor="let module of mRow; let y = index" (click)="setCoordsSection(x,y)">

          <svg-icon cdkDrag *ngIf="module.getImg() != ''" [svgStyle]="{ 'width.px':96, 'height.px': 96 }" src="assets/svg/{{module.getImg()}}"></svg-icon>

      </div>
    </div>
  </div>
</div>


<app-selecte-module (onSelect)="onSelectModule($event)"></app-selecte-module>

