.moduleTable {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.module-room{
  width: 96px;
  height: 96px;
  background-color: #b7b9c8;
  border: 1px solid #6f7390;
}
