<ngx-smart-modal #popupOne [identifier]="'popupOne'">
  <h1>Выбрать модуль</h1>

<div class="module-panel">
    <div class="module__item" *ngFor="let module of modules" (click)="selectModule(module);popupOne.close()">
      <div class="module__icon" [class.module__icon__empty]="module?.image === undefined">
        <svg-icon  *ngIf="module?.image !== ''" [svgStyle]="{ 'width.px':48, 'height.px': 48 }" src="assets/svg/{{module.image}}"></svg-icon>
      </div>
      <div class="module__title">
        {{module.name}}
      </div>
      <div class="module__decriprion">
        {{module.name}}
      </div>
      <div class="module__params">
      </div>
      <div class="module__conditions">
      </div>
    </div>
</div>


  <button (click)="popupOne.close()">Close</button>
</ngx-smart-modal>
